target/

### IntelliJ IDEA ###
.idea

### VS Code ###
.vscode/

### frontend angular-app
src/main/resources/frontend/angular-app/node_modules
src/main/resources/frontend/angular-app/node
src/main/resources/frontend/angular-app/dist
